body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #6c70c9;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #68bb25;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 36px;
    margin: 0;
}

header h2 {
    font-size: 24px;
    margin: 5px 0;
    color: #666;
}

.about h3, .skills h3, .contact h3 {
    margin: 0;
    padding-bottom: 5px;
    border-bottom: 1px solid #249a19;
}

.about p {
    margin-top: 10px;
    line-height: 1.6;
}

.skills ul {
    list-style: none;
    padding: 0;
}

.skills li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact p {
    margin: 5px 0;
}

.contact a {
    color: #007bff;
}

.contact a:hover {
    text-decoration: underline;
}